.all_popup {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#popup_content {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 40%;
    top: 20px;
    z-index: 4;
}
 .hitam-popup {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.44;
    position: absolute;
    top: 0;
    width: 100%;
}
.wd40{
    width: 40% !important;
    min-width: 400px;
}
.wd80{
    width: 80% !important;
    min-width: 400px;
}
