
<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info {{wlebar}}">
        <div class="panel-heading"> With two column <</div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <form>
                   <div class="form-group">
                       <label for="exampleInputuname">User Name</label>
                       <div class="input-group">
                           <input class="form-control" id="exampleInputuname" placeholder="Username" type="text">
                           <div class="input-group-addon"><i class="ti-user"></i></div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="exampleInputEmail1">Email address</label>
                       <div class="input-group">
                           <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                           <div class="input-group-addon"><i class="ti-email"></i></div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="exampleInputpwd1">Password</label>
                       <div class="input-group">
                           <input class="form-control" id="exampleInputpwd1" placeholder="Enter pwd" type="password">
                           <div class="input-group-addon"><i class="ti-lock"></i></div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="exampleInputpwd2">Confirm Password</label>
                       <div class="input-group">
                           <input class="form-control" id="exampleInputpwd2" placeholder="Enter pwd" type="password">
                           <div class="input-group-addon"><i class="ti-lock"></i></div>
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="checkbox checkbox-success">
                           <input id="checkbox2" type="checkbox">
                           <label for="checkbox2"> Remember me </label>
                       </div>
                   </div>
                   <div class="text-right">
                       <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                       <button type="submit" back-button class="btn btn-inverse waves-effect waves-light">sCancel</button>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>
