
<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info {{wlebar}}">
        <div class="panel-heading">Input Perusahaan</div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="submitForm()">
                    <div class="form-content">
                        <div class="form-group">
                            <label class="col-md-12">Nama Perusahaan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Nama Perusahaan" ng-model="perusahaan.nama_perusahaan" required   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Kategori Perusahaan</label>
                            <div class="col-md-12">
                                <select required  class="form-control" name="id_perusahaan_kategori" ng-model="perusahaan.id_perusahaan_kategori"  ng-options="x.id_perusahaan_kategori as x.kategori for x in perusahaan_kategori">
                                    <option value="">-- please choose --</option>
                                </select>

                                <!-- <select ng-model="perusahaan.id_perusahaan_kategori" s2-options="x.id_perusahaan_kategori as x.kategori for x in perusahaan"></select> -->

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12">Direktur Perusahaan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Direktur Perusahaan" required ng-model="perusahaan.direktur_perusahaan"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Email Perusahaan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Email Perusahaan" required ng-model="perusahaan.email_perusahaan"   type="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Telfon Perusahaan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Telfon Perusahaan" required ng-model="perusahaan.telfon_perusahaan"   type="number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">FAX Perusahaan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="FAX Perusahaan" required ng-model="perusahaan.fax"   type="number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">NPWP</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="NPWP" required ng-model="perusahaan.npwp"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Website</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="http://....." ng-model="perusahaan.web"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Kode Pos</label>
                            <div class="col-md-12">
                                <input class="form-control"  placeholder="523521" required ng-model="perusahaan.kode_pos"   type="number">
                            </div>
                        </div>


                        <h2>Alamat</h2>
                        <div class="form-group">
                            <label class="col-md-12">Provinsi</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" ng-model="perusahaan.id_prov"
                                ng-change="eventKabkot()"
                                ng-options="x.id_prov as x.nama_prov for x in provinsi">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Kabupaten / Kota</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" ng-model="perusahaan.id_kabkot"
                                ng-change="eventKec()"
                                ng-options="x.id_kabkot as x.nama_kabkot for x in kabkot">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Kecematan</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" ng-model="perusahaan.id_kec"
                                ng-change="eventKel()"
                                ng-options="x.id_kec as x.nama_kec for x in kecematan">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Kelurahan /Desa</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" ng-model="perusahaan.id_kel"
                                ng-options="x.id_kel as x.nama_kel for x in kelurahan">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Alamat Detail</label>
                            <div class="col-md-12">
                                <textarea class="form-control"  required ng-model="perusahaan.alamat_perusahaan"  ></textarea>
                            </div>
                        </div>

                    </div>


                   <div class="text-right form-bottom">
                       <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                       <button  back-button class="btn btn-inverse waves-effect waves-light">Cancel</button>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>

<script>
    formAutoLoad();
</script>
