<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Perusahaan</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li class="active" title="Filter"> <i class="fa fa-plus"></i></li>
            <li class="active" title="Filter"><i class="linea-icon linea-basic" data-icon="/"></i></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Perusahaan</th>
                        <th>Direktur</th>
                        <th>Email</th>
                        <th>Telepon</th>
                        <th>Status</th>
                        <th>Alamat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in perusahaans.data">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td><a href="#kontraktor/detail">Pt Maju Selalu</a></td>
                        <td>{{x.perusahaan.nama_perusahaan}}</td>
                        <td>Info@maju-selalu.com</td>
                        <td>0241-02520-41</td>
                        <td>
                            <div class="label label-table label-success">Kontruksi</div>
                        </td>
                        <td><span class="text-muted"><i class="fa fa-home"></i>Lorem ipsum accesskey</span> </td>
                        <td>2 acitive</td>
                    </tr>

                </tbody>
            </table>

            <pre>
                <code class="prettyprint"> {{perusahaans}}</code>
            </pre>
        </div>
    </div>
</div>
