<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">PT Maju Terus</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li class="active" title="Filter"> <i class="fa fa-plus"></i></li>
            <li class="active" title="Filter"><i class="linea-icon linea-basic" data-icon="/"></i></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">

        <div class=" p-0">
           <!-- .left-right-aside-column-->
           <div class="page-aside">
               <!-- .left-aside-column-->
               <div class="left-aside">
                   <div class="scrollable">
                       <ul class="list-style-none">
                           <li ui-sref-active="active" class="box-label"><a ui-sref="perusahaan_detail" href="javascript:void(0)">Profile </a></li>
                           <li class="divider"></li>
                           <li ui-sref-active="active" ><a ui-sref="perusahaan_detail.project" href="javascript:void(0)">Proyek<span>2</span></a></li>
                           <li ui-sref-active="active" ><a ui-sref="perusahaan_detail.pegawai" href="javascript:void(0)">Pegawai </a></li>
                           <li ui-sref-active="active" ><a ui-sref="perusahaan_detail.document" href="javascript:void(0)">Dokumen </a></li>
                           <li ui-sref-active="active" ><a ui-sref="perusahaan_detail.map" href="javascript:void(0)">Map </a></li>
                           <li ui-sref-active="active" ><a ui-sref="perusahaan_detail.tiket" href="javascript:void(0)">Komplain/Keluhan </a></li>
                      </ul>
                   </div>
               </div>
               <!-- /.left-aside-column-->
               <div class="right-aside"  id="detail_content" ng-show="$state.current.name === 'perusahaan_detail'">
                   <div class="right-page-header"> </div>
                   <div class="clearfix"></div>
                   <div class="scrollable">
                       <div class="row m-b-15">
                           <div class="col-md-3 col-xs-6 b-r "> <strong>Nama Perusahaan</strong>
                               <br>
                               <p class="text-muted">PT. Johnathan Deo</p>
                           </div>
                           <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                               <br>
                               <p class="text-muted">(123) 456 7890</p>
                           </div>
                           <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                               <br>
                               <p class="text-muted">johnathan@admin.com</p>
                           </div>
                           <div class="col-md-3 col-xs-6"> <strong>Alamat</strong>
                               <br>
                               <p class="text-muted">London</p>
                           </div>
                       </div>

                       <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="white-box">
                                    <h3 class="box-title">Proyek Terbaru</h3>
                                    <ul class="list-inline two-part">
                                        <li><i class="icon-people text-info"></i></li>
                                        <li class="text-right"><span class="counter">23</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="white-box">
                                    <h3 class="box-title">Supervisi Terbaru</h3>
                                    <ul class="list-inline two-part">
                                        <li><i class="icon-folder text-purple"></i></li>
                                        <li class="text-right"><span class="counter">169</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-12">
                                <div class="white-box">
                                    <h3 class="box-title">Profile Perusahaan</h3>
                                    <ul class="basic-list">
                                        <li>Direktur Perusahaan<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Alamat<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Provinsi<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>KabKot<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Kecematan<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>NPWP<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>FAX<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Web<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Kode POS<span class="pull-right ">XXXXXXXXXXX</span></li>
                                        <li>Kategori<span class="pull-right label-danger label">XXXXXXXXXXX</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="white-box">
                                    <h3 class="box-title">Feeds</h3>
                                    <ul class="feeds">
                                        <li>
                                            <div class="bg-info"><i class="fa fa-bell-o text-white"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span></li>
                                        <li>
                                            <div class="bg-success"><i class="ti-server text-white"></i></div> Server #1 overloaded.<span class="text-muted">2 Hours ago</span></li>
                                        <li>
                                            <div class="bg-warning"><i class="ti-shopping-cart text-white"></i></div> New order received.<span class="text-muted">31 May</span></li>
                                        <li>
                                            <div class="bg-danger"><i class="ti-user text-white"></i></div> New user registered.<span class="text-muted">30 May</span></li>
                                        <li>
                                            <div class="bg-inverse"><i class="fa fa-bell-o text-white"></i></div> New Version just arrived. <span class="text-muted">27 May</span></li>
                                        <li>
                                            <div class="bg-purple"><i class="ti-settings text-white"></i></div> You have 4 pending tasks. <span class="text-muted">27 May</span></li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                   </div>
               </div>

               <div class="right-aside white-box"  id="sub_detail_content" ng-show="$state.includes('perusahaan_detail.*.*') || $state.includes('project_detail.*.*')" >
                   <div ui-view></div>
               </div>

               <!-- .left-aside-column-->
           </div>
           <!-- /.left-right-aside-column-->
       </div>

    </div>
</div>

<script>
    KeteanMenuKiri();
</script>
