<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Perusahaan Jabatan</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">

        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row white-box">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="30px">Id</th>
                        <th>Parent</th>
                        <th>Jabatan</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in perusahaans">
                    <tr>
                        <td>{{x.id_jabatan_p}}</td>
                        <td>{{x.induk}}</td>
                        <td>{{x.jabatan}}</td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div ui-view></div>

<script>
GodangMenuKiri()
</script>
