
<div class="right-page-header">
   <div class="pull-right">
       <input class="form-control" placeholder="search contacts" id="demo-input-search2" type="text"> </div>
   <h3>
       <!-- <a ui-sref="project_detail.task.add"><i class="ti-pencil"></i></a> -->
       Pegawai /
       <a ui-sref="perusahaan_detail.pegawai.add">
           <button  class="btn btn-info btn-rounded" type="button">Input Pegawai</button>
       </a>
   </h3>
</div>
<div class="clearfix"></div>
<div class="scrollable">
   <div class="table-responsive">
       <table data-page-size="10" class="table m-t-30 table-hover contact-list footable-loaded footable" id="demo-foo-addrow">
           <thead>
               <tr>
                   <th class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Nama<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">NIP<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Jabatan<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Identitas<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">No Identitas<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Tmp/tgl Lahir<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Hp<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">email<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="x in pegawais.datas" style="display: table-row;" class="footable-even">
                   <td><span class="footable-toggle"></span>{{$index+1}}</td>
                   <td>
                       <a><img class="img-circle" alt="user" src="images/users/genu.jpg"> {{x.pegawai.nama_pegawai_p}}</a>
                   </td>
                   <td>{{x.pegawai.nip}}</td>
                   <td>{{x.jabatan.jabatan}}- {{x.pegawai.bagian_bidang_p}}</td>
                   <td>{{x.pegawai.jenis_identitas_p}}</td>
                   <td>{{x.pegawai.nomor_identitas_p}}</td>
                   <td>{{x.pegawai.tempat_lahir_p}} /{{x.pegawai.tgl_lahir_p | date:'yyyy-MM-dd'}} </td>
                   <td>{{x.pegawai.no_hp_p}}</td>
                   <td>{{x.pegawai.email_p}}</td>

                   <td>
                       <a ui-sref="perusahaan_detail.pegawai.edit({id_perusahaan_pegawai:x.pegawai.id_perusahaan_pegawai})" data-original-title="edit" data-toggle="tooltip" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" type="button"><i aria-hidden="true" class="ti-pencil-alt"></i></a>
                       <a data-original-title="Delete" data-toggle="tooltip" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" type="button"><i aria-hidden="true" class="ti-close"></i></a>
                   </td>
               </tr>

           </tbody>

       </table>
   </div>
</div>

<div ui-view></div>
