
<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info panel panel-success widget-melayang">
        <form id="#" class="form-horizontal" name="Form" ng-submit="submitForm(Form.$valid)">
            <div class="panel-heading">Edit Proyek #{{project.id_project}} <i id="close" back-button class="ti-close right-side-toggle pull-right"></i></div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body" style="height: 761px;">

                        <div class="form-body">
                            <h3 class="box-title">Proyek Info</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nama Proyek</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.nama_project" type="text"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Paket Proyek </label>
                                        <div class="col-md-9">

                                            <select required class="form-control" select2 ng-model="project.id_project_paket"
                                            ng-change="ambilPaket()"
                                            ng-options="x.ID_PROJECT_PAKET*1 as x.NAMA_PAKET for x in pakets">
                                                <option value="">-- please choose--</option>
                                            </select>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <h3 class="box-title">Ganti Kontraktor/SUpervisi</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nama Paket</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.NAMA_PAKET | uppercase}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Tahun Anggaran</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.TAHUN_ANGGARAN_PAKET}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Pagu Anggaran</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.PAGU_ANGGARAN_PAKET | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">No Kontrak</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.NO_KONTAK}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Tgl Kontrak</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.TGL_KONTRAK |date:'yyyy-MM-dd' }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nilai Kontrak</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.NILAI_KONTRAK | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">PPN {{paket.PPN+0}}%</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{ (paket.NILAI_KONTRAK*(paket.PPN+0)/100 )  | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nilai Sebelum PPN</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{(paket.NILAI_KONTRAK*(100 - paket.PPN+0)/100 ) | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">PPK</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.PPK}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Kontraktor</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.KONTRAKTOR}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Supervisi</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{paket.SUPERVISI}}</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Kontraktor Proyek</label>
                                        <div class="col-md-9">
                                            <select  class="form-control" select2  ng-model="project.id_kontraktor"
                                            ng-options="x.id_perusahaan*1 as x.nama_perusahaan for x in perusahaans">
                                                <option value="">-- please choose --</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Supervisi Proyek</label>
                                        <div class="col-md-9">
                                            <select  class="form-control select2" select2 ng-model="project.id_supervisi"
                                            ng-options="x.id_perusahaan*1 as x.nama_perusahaan for x in perusahaans">
                                                <option value="">-- please choose --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Jenis Proyek</label>
                                        <div class="col-md-9">
                                            <select required class="form-control select2" select2 ng-model="project.id_project_jenis"
                                            ng-options="x.id_project_jenis*1 as x.project_jenis for x in jenis_project">
                                                <option value="">-- please choose --</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Mulai Proyek</label>
                                        <div class="col-md-9">
                                            <input class="form-control" datepicker ng-model="project.tanggal_mulai" type="text"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Batas Selesai Proyek</label>
                                        <div class="col-md-9">
                                            <input class="form-control" datepicker ng-model="project.batas_waktu" type="text"> </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Pagu Anggaran</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.pagu_anggaran" required type="text" ui-number-mask="0"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Anggaran Proyek</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.anggaran_nilai" required type="text" ui-number-mask="0"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sumber Anggaran</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.sumber_anggaran" required type="text" > </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">Lon</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.lon"  type="text" ui-number-mask="4"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Lat</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="project.lat" type="text" ui-number-mask="4"> </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Provinsi</label>
                                        <div class="col-md-9">
                                            <select required class="form-control" select2 ng-model="project.id_prov"
                                            ng-options="x.id_prov*1 as x.nama_prov for x in provinsis" ng-change="update_kabkot()">
                                                <option value="">-- please choose --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Kabupaten Kota</label>
                                        <div class="col-md-9">
                                            <select required class="form-control" required="required"  select2 ng-model="project.id_kabkot"
                                            ng-options="x.id_kabkot*1 as x.nama_kabkot for x in kabkots">
                                                <option value="" >-- please choose --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->

                            <h3 class="box-title">Alamat</h3>
                            <!--/row-->
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea ng-model="project.lokasi_project" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                </div>

            </div>

            <div class="panel-footer">
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button ng-click="submitForm()"  ng-disabled="Form.$invalid" type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" back-button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    Melayang();
</script>
