<div class="row bg-title">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <h4 class="page-title">{{project.NAMA_PROJECT | capitalize}}</h4> </div>
    <div class="col-lg-3 col-sm-3 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <a ui-sref="project_detail.edit" class="btn btn-success waves-effect waves-light" type="button">
                <span class="btn-label"><i class="fa fa-pencil"></i></span>Edit
            </a>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">

        <div class="white-box p-0">
           <!-- .left-right-aside-column-->
           <div class="page-aside">
               <!-- .left-aside-column-->
               <div class="left-aside" >
                   <div class="scrollable">
                       <ul class="list-style-none">
                           <li ui-sref-active="active" class="box-label"><a ui-sref="project_detail" href="javascript:void(0)">Detail Projek</a></li>
                           <li class="divider"></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.rekap">Paket Kegiatan </a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.task">Kegiatan <span>103</span></a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.timeline">Timeline </a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.kurva">Kurva </a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.document">Dokumen</a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="project_detail.cair">Pembayaran </a></li>
                           <li><a href="javascript:void(0)">Surat/Tiket <span>3</span></a></li>
                           <li><a href="javascript:void(0)">Kalender </a></li>
                      </ul>
                   </div>
               </div>
               <!-- /.left-aside-column-->
               <div class="right-aside" id="detail_content" ng-show="$state.current.name === 'project_detail'">
                   <div class="right-page-header">
                       <!-- <div class="pull-right">
                           <input type="text" class="form-control" placeholder="search contacts" id="demo-input-search2"> </div>
                       <h3>Progress </h3>  -->

                       <div class="row sales-report">
                            <div class="col-md-9 col-sm-9 col-xs-6">
                                <h2>PAKET: {{project.NAMA_PAKET}} > <small>{{project.NILAI_KONTRAK | currency:"Rp.":0 }} </small?</h2>
                                <p>{{ '' | dateNow }} </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 ">
                                <h1 class="text-right text-success m-t-20">{{project.STATUS_PROJECT | capitalize }}</h1> </div>
                        </div>
                   </div>
                       <div class="clearfix"></div>
                       <div class="scrollable">
                           <div class="row">
                               <div class="col-md-12 col-lg-12 col-sm-12">
                                   <div class="white-box">
                                       <div class="row row-in">

                                           <div class="col-lg-4 col-sm-6 row-in-br">
                                               <div class="col-in row">
                                                   <div class="col-md-6 col-sm-6 col-xs-6"> <i class="fa fa-building"></i>
                                                       <h5 class="text-muted vb">Progress Fisik (Lokasi)</h5> </div>
                                                   <div class="col-md-6 col-sm-6 col-xs-6">
                                                       <h3 class="counter text-right m-t-15 text-danger">55%</h3> </div>
                                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                                       <div class="progress">
                                                           <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>

                                           <div class="col-lg-4 col-sm-6  b-0">
                                               <div class="col-in row">
                                                   <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-receipt"></i>
                                                       <h5 class="text-muted vb">Progress Fisik (Kontrak)</h5> </div>
                                                   <div class="col-md-6 col-sm-6 col-xs-6">
                                                       <h3 class="counter text-right m-t-15 text-warning">57%</h3> </div>
                                                   <div class="col-md-12 col-sm-12 col-xs-12">
                                                       <div class="progress">
                                                           <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>


                                           <div class="col-lg-4 col-sm-6 row-in-br">
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <div class="text-muted m-t-20">Penyerapan Anggaran</div>
                                                        <h2>{{pembayaran.REALISASI_CAIR | currency:"Rp.":0}}</h2> </div>
                                                    <div data-label="{{pembayaran.REALISASI_PROGRESS+0}}%" class="css-bar css-bar-60 css-bar-lg m-b-0 css-bar-purple pull-right"></div>
                                                </div>

                                           </div>

                                       </div>
                                   </div>
                               </div>

                               <div class="col-md-4 col-lg-4 col-xs-12">
                                    <div class="white-box">
                                        <h3 class="box-title">Proyek Overview</h3>
                                        <ul class="basic-list">
                                            <li>Kontraktor <span class="pull-right">{{project.KONTRAKTOR}}</span></li>
                                            <li>Supervisi <span class="pull-right">{{project.SUPERVISI}}</span></li>
                                            <li>No Kontrak <span class="pull-right">{{project.NO_KONTRAK}}</span></li>
                                            <li>Jenis Proyek <span class="pull-right">{{project.PROJECT_JENIS}}</span></li>
                                            <li>Nilai Kontrak
                                                <span class="pull-right ">
                                                    <!-- <i class="fa fa-calendar"></i> -->
                                                     {{project.ANGGARAN_NILAI | currency:"Rp.":0 }}
                                                </span>
                                            </li>
                                            <li>Pagu
                                                <span class="pull-right ">
                                                    <!-- <i class="fa fa-calendar"></i> -->
                                                    {{project.PAGU_ANGGARAN_PAKET | currency:"Rp.":0 }}
                                                </span>
                                            </li>
                                            <li>Periode Kontrak
                                                <span class="pull-right ">
                                                    <i class="fa fa-calendar"></i>
                                                    {{project.TANGGAL_MULAI | date:'yyyy-MM-dd'}} / {{project.BATAS_WAKTU | date:'yyyy-MM-dd'}}
                                                </span>
                                            </li>
                                            </li>
                                            <li>Lama Kontrak
                                                <span class="pull-right ">
                                                    <i class="fa fa-calendar"></i>
                                                    {{  hitung_hari(project.TANGGAL_MULAI, project.BATAS_WAKTU)}} Hari
                                                </span>
                                            </li>
                                            <li>Penanggung Jawab(PPK) <span class="pull-right">{{project.PPK}} </span></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="lokasi_projek p-20">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15867.046693672042!2d106.7765558!3d-6.162664299999999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1479106760406" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>

                                    <div class="white-box">
                                        <h3 class="box-title">Lokasi Proyek</h3>
                                        <ul class="basic-list">
                                            <li>PROVINSI <span class="pull-right">{{project.NAMA_PROV | uppercase }}</span></li>
                                            <li>KABUPATEN <span class="pull-right">{{project.NAMA_KABKOT}}</span></li>
                                            <li>Alamat
                                                <span class="pull-right">
                                                    {{project.LOKASI_PROJECT}}
                                                </span>
                                            </li>

                                        </ul>

                                        <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="30px">
                                                        <a ui-sref="project_detail.lokasi_add">
                                                            <button  class="btn btn-info btn-rounded" type="button">Lokasi Baru</button>
                                                        </a>
                                                    </th>
                                                    <th>Kecematan</th>
                                                    <th>Kelurahan</th>
                                                    <th>Keterangan</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in lokasis">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{x.NAMA_KEC}}</td>
                                                    <td>{{x.NAMA_KEL}}</td>
                                                    <td>{{x.KETERANGAN}}</td>
                                                    <td class="text-nowrap text-right">
                                                        <a href="#" ui-sref="project_detail.lokasi_edit({id_lokasi:x.ID_LOKASI})" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                        <!-- <a href="#" ui-sref="project_detail.lokasi_hapus" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> -->
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                        <br>
                                        <h3 class="box-title">Deskripsi</h3>
                                        <p>{{project.KETERANGAN_PAKET}}</p>
                                        <p>Elite Admin is a popular open source WebApp template for admin dashboards and control panels. It is a responsive HTML template that is based on the CSS framework Bootstrap 3.3.6 It utilizes all of the Bootstrap components in its design and re-styles many commonly used plugins to create a consistent design that can be used as a user interface for backend applications. Elite Admin is based on a modular design, which allows it to be easily customized and built upon. This documentation will guide you through installing the template and exploring the various components that are bundled with the template.</p>
                                        <hr>

                                    </div>
                                </div>


                           </div>

                   </div>
               </div>

               <div class="right-aside"  id="sub_detail_content" ng-show="$state.includes('project_detail.*') || $state.includes('project_detail.*.*')" >
                   <div ui-view></div>
               </div>
               <!-- .left-aside-column-->
           </div>
           <!-- /.left-right-aside-column-->
       </div>

    </div>
</div>
<script>
KeteanMenuKiri();
</script>
