
<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info {{wlebar}}">
        <div class="panel-heading">Input Paket Proyek</div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="submitForm()">
                    <div class="form-content">
                        <div class="form-group">
                            <label class="col-md-12">Nama Paket</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Nama Paket" ng-model="paket.nama_paket" required   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Tahun Anggaran Paket</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="2016 / 2017" required ng-model="paket.tahun_anggaran_paket"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Pagu Anggaran (Rp.)</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" required ng-model="paket.pagu_anggaran_paket" ui-number-mask="0" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">No Kontrak</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="XXX/XXXX............." required ng-model="paket.no_kontrak"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Tgl Kontrak</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" datepicker required ng-model="paket.tgl_kontrak"   type="text">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12">Nilai Kontrak (Rp.)</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" required ng-model="paket.nilai_kontrak" ui-number-mask="0"  type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">PPN {{paket.ppn + 0}}%</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" required ng-model="paket.ppn"   type="number">
                                <p>Nilai PPN {{ (paket.nilai_kontrak*paket.ppn/100)+0 | currency:"Rp.":0}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">PPK</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" required ng-model="paket.ppk"   type="text">
                            </div>
                        </div>


                        <h2>Perusahaan</h2>
                        <div class="form-group">
                            <label class="col-md-12">Kontraktor</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" select2 ng-model="paket.id_kontraktor_paket"
                                ng-options="x.nama_perusahaan for x in perusahaans track by x.id_perusahaan">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Supervisi</label>
                            <div class="col-md-12">
                                <select required class="form-control select2" ng-model="paket.id_supervisi_paket"
                                ng-options="x.nama_perusahaan for x in perusahaans track by x.id_perusahaan">
                                    <option value="">-- please choose --</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12">Keterangan</label>
                            <div class="col-md-12">
                                <textarea class="form-control"  required ng-model="paket.keterangan_paket"  ></textarea>
                            </div>
                        </div>

                    </div>


                   <div class="text-right form-bottom">
                       <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                       <a  back-button class="btn btn-inverse waves-effect waves-light">Cancel</a>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>

<script>
    formAutoLoad();
    formAutoLoad();
</script>
