<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Paket Proyek</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">

            <li>
                <button click-link="/pm/project_paket/add" class="btn btn-success waves-effect waves-light" type="button">
                    <span class="btn-label"><i class="ti-plus"></i></span>Input
                </button>
            </li>
        </ol>
    </div>

    <!-- /.col-lg-12 -->
</div>
<div class="row white-box">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Paket</th>
                        <th>Thn Anggaran</th>
                        <th>Pagu Anggaran</th>
                        <th>No Kontrak</th>
                        <th>Nilai Kontrak</th>
                        <th>PPN</th>
                        <th>Kontraktor</th>
                        <th>PPK</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in pakets">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td><a ui-sref="project_paket.detail({id_paket:x.ID_PROJECT_PAKET})">{{x.NAMA_PAKET | uppercase}}</a></td>
                        <td>{{x.TAHUN_ANGGARAN_PAKET}}</td>
                        <td>{{x.PAGU_ANGGARAN_PAKET | currency:"Rp.":0}}</td>
                        <td>{{x.NO_KONTRAK}}</td>
                        <td>{{x.NILAI_KONTRAK | currency:"Rp.":0}}</td>
                        <td>{{x.PPN}}</td>
                        <td>{{x.KONTRAKTOR}}</td>
                        <td>{{x.PPK}}</td>
                        <td>
                            <a ui-sref="project_paket.edit({id_paket:x.ID_PROJECT_PAKET})" data-original-title="edit" data-toggle="tooltip" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" type="button"><i aria-hidden="true" class="ti-pencil-alt"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>

            <pre>
                <code class="prettyprint"> {{pakets}}</code>
            </pre>
        </div>
    </div>
</div>
<div ui-view></div>

<script>
GodangMenuKiri()
</script>
