
<div class="right-page-header">
   <div class="pull-right">
       <a ui-sref="project_detail.rekap.add" class="btn btn-info waves-effect waves-light" type="button">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Paket
        </a>
       <a ui-sref="project_detail.task.add" class="btn btn-info waves-effect waves-light" type="button">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Kegiatan
        </a>
   </div>
       <h3 class="box-title m-b-0">Overview Kegitan</h3>
       <p class="text-muted m-b-30 font-13"> Uraian Kegiatan </p>
</div>
<div class="clearfix"></div>
<div class="scrollable">

    <div ng-repeat="x in modules"  class="modul_task">
        <div class="row sales-report p-b-5">
             <div class="col-md-6 col-sm-6 col-xs-6">
                 <h2>{{$index+1}}. {{x.modul.modul}} </h2>
                 <p>
                    <a ui-sref="project_detail.rekap.edit({id_modul:x.modul.id_modul})">Edit</a>
                     {{x.modul.modul_desk}}
                 </p>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-6 text-right  ">
                 <h3 class="text-success m-t-20">{{x.modul.modul_progress_realisasi + 0 }}% / {{x.modul.modul_progres}}%</h3>
                 <p><i class="fa fa-calendar"></i> {{x.modul.modul_start | date:'yyyy-MM-dd' }} / {{x.modul.modul_end | date:'yyyy-MM-dd' }}</p>
             </div>
        </div>

        <div class="table-responsive">

           <table data-page-size="10" class="table table-hover contact-list footable-loaded footable" id="demo-foo-addrow">
               <thead>
                   <tr>
                       <th width="50px" class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                       <th width="30%" class="footable-sortable">Task<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Mulai<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Target<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Status<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Progress<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Harga Satuan<span class="footable-sort-indicator"></span></th>
                       <th class="footable-sortable">Total<span class="footable-sort-indicator"></span></th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="n in x.task" style="display: table-row;" class="footable-even">
                       <td><span class="footable-toggle"></span>{{$index+1}}</td>
                       <td>
                           <a ui-sref="task_detail({id_task:n.id_task})"> {{n.task}}</a>
                       </td>
                       <td>{{n.task_start | date:'yyyy-MM-dd'}} </td>
                       <td>{{n.task_end | date:'yyyy-MM-dd'}} </td>
                       <td><span class="label label-danger">{{n.status_task}}</span> </td>
                       <td>{{n.task_progress_realisasi}}% / {{n.task_progress}}%</td>
                       <td>{{n.task_nilai}} X {{n.task_fee | currency:"Rp.":0  }}</td>
                       <td>{{n.task_nilai * n.task_fee | currency:"Rp.":0  }}</td>
                   </tr>

                   <tr>
                       <td class="bg-info"></td>
                       <td  colspan="3">  </td>
                       <td><span class="label label-danger">{{n.status_task}}</span> </td>
                       <td>{{x.rekap_modul.TOTAL_TASK_PROGRESS_REALISASI}}%</td>
                       <td class="{{ x.rekap_modul.TOTAL_PROGRESS <100 ? 'bg-danger' : 'bg-info'}}">{{x.rekap_modul.TOTAL_PROGRESS}} % <br>
                       <b>{{ x.rekap_modul.TOTAL_PROGRESS <100 ? 'Harus 100%' : ''}}</b>
                       </td>
                       <td>{{x.rekap_modul.TOTAL_BIAYA_TASK  | currency:"Rp.":0  }}</td>
                   </tr>
               </tbody>

           </table>
        </div>
    </div>

    <br>
    <hr>

    <div class-"row">
        <div class="col-md-6">
               <div class="pull-left m-t-30 text-left">
                   <p>Total Rencana progress 100%</b></p>
                   <p>Realisasi : {{progress_rekap.MODUL_PROGRESS_REALISASI}}% </p>
                   <hr>
                   <h3><b>Total :</b> {{progress_rekap.MODUL_PROGRES}}% <b style="color:red">{{progress_rekap.MODUL_PROGRES+0 < 100 ? 'Proyek Anda belum lengkap (harus 100% )':''}}</h3> </div>
               <div class="clearfix"></div>
               <hr>
               <div class="text-right">
                   <button class="btn btn-danger" type="submit"> Export PDF </button>
                   <button onclick="javascript:window.print();" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
               </div>
        </div>
        <div class="col-md-6">
               <div class="pull-right m-t-30 text-right">
                   <p>Serapan Anggaran: {{serapan.TOTAL_SERAPAN_ANGGARAN  | currency:"Rp.":0 }}</p>
                   <p>PPN ({{project.PPN}}%) :{{ serapan.TOTAL_SERAPAN_ANGGARAN* project.PPN/100 |currency:"Rp.":0 }} </p>
                   <p> <b>Nilai Kontrak: {{project.NILAI_KONTRAK  | currency:"Rp.":0}}</b></p>
                   <hr>
                   <h3><b>Total :</b> {{serapan.TOTAL_SERAPAN_ANGGARAN + serapan.TOTAL_SERAPAN_ANGGARAN* project.PPN/100 | currency:"Rp.":0 }}</h3> </div>
               <div class="clearfix"></div>
               <hr>

        </div>

    </div>

</div>

<div ui-view></div>
