sdfds

<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info {{wlebar}}">
        <div class="panel-heading">Sub Kegiatan</div>
        <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
                <form class="form-horizontal" name="Form" ng-submit="submitForm()">
                    <div class="form-content">
                        <div class="form-group">
                            <label class="col-md-12">Nama Sub Kegiatan</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Nama Sub Kegiatan" ng-model="check.task_check" required   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Rencana Selesai</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="" datepicker required ng-model="check.tgl_check"   type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Keterangan</label>
                            <div class="col-md-12">
                                <textarea class="form-control"  required ng-model="check.desk_check"  ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Catatan</label>
                            <div class="col-md-12">
                                <textarea class="form-control"  required ng-model="check.catatan_check"  ></textarea>
                            </div>
                        </div>

                        <h3 class="box-title">STATUS</h3>
                        <hr class="m-t-0 m-b-40">

                        <div class="form-group">
                            <label class="control-label">Status Sub Task</label>
                            <div class="col-md-12">
                                <select required class="form-control" required  ng-model="check.status_check" ng-init="check.status_check">
                                    <option value="open" ng-selected="check.status_check=='open'"> Open </option>
                                    <option value="close" ng-selected="check.status_check=='close'"> Close </option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Hapus ?</label>
                            <div class="col-md-12">
                                <select required class="form-control" required  ng-model="check.is_deleted" ng-init="check.is_deleted=0">
                                    <option value="0" ng-selected="check.is_deleted==0"> Aktif </option>
                                    <option value="1" ng-selected="check.is_deleted==1"> Deleted </option>
                                </select>
                                <p>Jika status hapus, automatis hilang dari llist sub Kegiatan</p>

                            </div>
                        </div>

                    </div>


                   <div class="text-right form-bottom">
                       <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                       <button  back-button class="btn btn-inverse waves-effect waves-light">Cancel</button>
                   </div>
               </form>
            </div>
        </div>
    </div>
</div>

<script>
    formAutoLoad();
    formAutoLoad();
</script>
