<div class="row bg-title">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="page-title">{{task.task}}</h4> </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
        <ol class="breadcrumb">
            <li class="active" ui-sref="project_detail({id_project:perusahaan.ID_PROJECT})" title=""> <i class="fa fa-arrow-left"></i> {{perusahaan.NAMA_PROJECT}}</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">

        <div class="white-box p-0">
           <!-- .left-right-aside-column-->
           <div class="page-aside">
               <!-- .left-aside-column-->
               <div class="left-aside" >
                   <div class="scrollable">
                       <ul class="list-style-none">
                           <li ui-sref-active="active" class="box-label"><a ui-sref="task_detail" href="javascript:void(0)">Detail Kegiatan</a></li>
                           <li class="divider"></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="task_detail.rincian">Rincian Kegiatan </a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="task_detail.kontraktor">Kontraktor</a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="task_detail.supervisi">Supervisi </a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="task_detail.laporan">Laporan</a></li>
                           <li ui-sref-active="active"><a href="javascript:void(0)" ui-sref="task_detail.media">Media</a></li>
                           <li><a href="javascript:void(0)">Keluhan<span>3</span></a></li>
                      </ul>
                   </div>
               </div>
               <!-- /.left-aside-column-->
               <div class="right-aside" id="detail_content" ng-show="$state.current.name === 'task_detail'">
                   <div class="right-page-header">

            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="white-box">
                          <div class="weather-box">
                              <div class="weather-top">
                                    <h2 class="pull-left">{{ lamaKerja }} hari <button class="btn btn-info btn-rounded" type="button">{{Status}}</button><br>
                                        <small>{{task.task_start | date:"dd MMMM yyyy"}}  </small>
                                    </h2>
                                    <h2 class="pull-right text-right">{{ sisaHari }} hari sisa<br>
                                        <small>{{task.task_end | date:"dd MMMM yyyy"}}</small>
                                    </h2>
                                    <!-- <div class="today_crnt pull-right">
                                        <canvas class="sleet" width="32" height="32"></canvas> <span>32 Hari</span>
                                    </div> -->

                                    <div class="progress progress-lg" style="clear: left;">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{task.task_progress_realisasi}}%; role="progressbar""> {{task.task_progress_realisasi}}% Progress </div>
                                    </div>
                              </div>
                              <div class="weather-info">
                                  <h5 class="font-bold">Detail Kegiatan</h5>
                                  <div class="row">
                                      <div class="col-xs-6 p-r-10">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <p class="pull-left">Kontribusi</p>
                                                  <p class="pull-right font-bold">{{task.task_progress}}%</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <p class="pull-left">Satuan Paket</p>
                                                  <p class="pull-right font-bold">{{task.task_nilai}}</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <p class="pull-left">Harga Satuan</p>
                                                  <p class="pull-right font-bold">{{task.task_fee | currency:"Rp.":0}}</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <p class="pull-left">Total</p>
                                                  <p class="pull-right font-bold">{{task.task_fee * task.task_nilai | currency:"Rp.":0 }}</p>
                                              </div>
                                          </div>
                                      </div>

                                         <div class="col-md-6 col-sm-6 col-xs-12">
                                          <div class="col-in row">
                                              <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-pencil-alt"></i> {{report_rekap.JUML_REPORT}} laporan
                                                  <h5 class="text-muted vb">Progress</h5> </div>
                                              <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <h3 class="counter text-right m-t-15 text-info">{{report_rekap.REPORT_PROGRESS}}% </h3> </div>
                                              <div class="col-md-12 col-sm-12 col-xs-12">
                                                  <div class="progress">
                                                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{report_rekap.REPORT_PROGRESS}}%"> <span class="sr-only">{{report_rekap.REPORT_PROGRESS}}% Complete (success)</span> </div>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>

              </div>
              <!-- /row -->

                       <div class="row sales-report">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div id="morris-line-chart"></div>
                                </div>

                            </div>
                   </div>
                       <div class="clearfix"></div>
                       <div class="scrollable">
                           <div class="row">




                               <div class="col-md-8 col-lg-8 col-xs-12">
                                    <div class="white-box">
                                        <h3 class="box-title">Deskripsi</h3>
                                        <p>{{task.task_desk}}</p>
                                        <hr>
                                        <h3 class="box-title">Catatan</h3>
                                        <p>{{task.task_catatan}}</p>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="white-box">
                                        <h3 class="box-title">Sub Kegiatan Progress</h3>
                                        <div class="text-right"> <span class="text-muted">Per hari ini</span>
                                            <h1><sup><i class="ti-arrow-up text-success"></i></sup> {{check_rangkum.CLOSE }} /{{check_rangkum.TOTAL}}</h1> </div> <span class="text-success">{{check_rangkum.CLOSE*100/check_rangkum.TOTAL}}%</span>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{check_rangkum.CLOSE*100/check_rangkum.TOTAL}}%;"> <span class="sr-only">20% Complete</span> </div>
                                        </div>
                                    </div>
                                </div>


                               <div class="col-md-8 col-lg-8 col-xs-12">
                                   <div class="lokasi_projek p-20">
                                       <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15867.046693672042!2d106.7765558!3d-6.162664299999999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1479106760406" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                   </div>

                               </div>

                               <div class="col-md-4 col-lg-4 col-xs-12">

                                   <div class="white-box">
                                       <h3 class="box-title">Lokasi Proyek</h3>
                                       <ul class="basic-list">
                                           <li>PROVINSI <span class="pull-right">SUMBAR</span></li>
                                           <li>KABUPATEN <span class="pull-right">TANAH DATAR</span></li>
                                           <li>KECEMATAN
                                               <span class="pull-right">
                                                   Kecematan 1,Kecematan 2
                                               </span>
                                           </li>
                                           <li>KELURAHAN
                                               <span class="pull-right">
                                                   Kelurahan 1, Kelurahan 2, Kelurahan 3 ...
                                               </span>
                                           </li>

                                       </ul>

                                   </div>

                               </div>




                           </div>

                   </div>
               </div>

               <div class="right-aside"  id="sub_detail_content" ng-show="$state.includes('task_detail.*') || $state.includes('task_detail.*.*')" >
                   <div ui-view></div>
               </div>
               <!-- .left-aside-column-->
           </div>
           <!-- /.left-right-aside-column-->
       </div>

    </div>
</div>
<script>

     $(function()
     {
         var line = new Morris.Line({
           element: 'morris-line-chart',
           resize: true,
           data: [
             {y: '2012-01-01', item1: 10},
             {y: '2012-02-01', item1: 23},
             {y: '2012-03-01', item1: 45},
             {y: '2012-04-01', item1: 57},
             {y: '2012-05-01', item1: 68},
             {y: '2012-06-01', item1: 69},
             {y: '2012-07-01', item1: 82},
             {y: '2012-08-01', item1: 90},
             {y: '2012-09-01', item1: 100}
           ],
           xkey: 'y',
           ykeys: ['item1'],
           labels: ['Progress '],
           gridLineColor: '#eef0f2',
           lineColors: ['#a3a4a9'],
           lineWidth: 1,
           hideHover: 'auto'
         });
     })

</script>
