
<div class="right-page-header">
    <div class="pull-right">
        <a ui-sref="task_detail.laporan.add" class="btn btn-info waves-effect waves-light" type="button">
             <span class="btn-label"><i class="fa fa-plus"></i></span>Laporan
         </a>
       <button type="button" class="btn btn-default waves-effect waves-light  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-refresh"></i> </button>
    </div>
    <h3>
       <!-- <a ui-sref="project_detail.task.add"><i class="ti-pencil"></i></a> -->
       Laporan
    </h3>
</div>
<div class="clearfix"></div>
<div class="scrollable">
    <div class="inbox-center">
        <table class="table table-striped">
                               <thead>
                                   <tr>
                                       <th>No</th>
                                       <th>Tanggal Report</th>
                                       <th>Progress</th>
                                       <th>Supervisi</th>
                                       <th>Laporan</th>
                                       <th>Status</th>
                                       <th class="text-nowrap" width="50px">Action</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="x in reports">
                                       <td>{{$index+1}}</td>
                                       <td>{{x.REPORT_TANGGAL | date:'dd MMMM yyyy'}}</td>
                                       <td>
                                           <span class="text-danger">{{x.REPORT_PROGRESS}}% </span>
                                           <span class="text-info pull-right">{{x.TOTAL_PROGRESS}}% </span>
                                           <div class="progress m-b-0">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{x.TOTAL_PROGRESS}}%;"> <span class="sr-only">{{x.TOTAL_PROGRESS}}% Complete</span> </div>
                                            </div>
                                       </td>
                                       <td>{{x.NAMA_PEGAWAI_P}}</td>
                                       <td>{{x.REPORT_DETAIL}}</td>
                                       <td>{{x.REPORT_STATUS ==1 ? 'Acc': 'Pending'}}</td>
                                       <td class="text-nowrap">
                                           <a href="#" ui-sref="task_detail.laporan.detail({id_report:x.ID_TASK_REPORT})" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-check"></i> </a>
                                           <a href="#" ui-sref="task_detail.laporan.detail({id_report:x.ID_TASK_REPORT})" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-eye"></i> </a>
                                           <!-- <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a> -->
                                       </td>
                                   </tr>

                               </tbody>
                           </table>
    </div>
</div>

<div ui-view></div>
