
<div class="all_popup">
    <div class="hitam-popup"></div>
    <div id="popup_content" class="panel panel-info panel panel-success widget-melayang">
        <form id="#" class="form-horizontal" name="Form" ng-submit="submitForm(Form.$valid)">
            <div class="panel-heading">Input Kegiatan baru <i id="close" back-button class="ti-close right-side-toggle pull-right"></i></div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body" style="height: 761px;">

                        <div class="form-body">
                            <h3 class="box-title">Proyek Info</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nama Kegiatan</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="task.task" type="text"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Paket Proyek</label>
                                        <div class="col-md-9">
                                            <select required class="form-control select2" required select2 ng-model="task.id_modul"
                                            ng-change="ambilModul()"
                                            ng-options="x.modul for x in moduls track by x.id_modul">
                                                <option value="">-- please choose --</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <h3 class="box-title">Detail Paket</h3>
                                <hr class="m-t-0 m-b-40">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nama Paket</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{modul.MODUL | uppercase}}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Peroide Awal</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{modul.MODUL_START | date:'yyyy-MM-dd'}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Peroide Akhir</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{modul.MODUL_END | date:'yyyy-MM-dd'}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Max Lama Paket kegiatan</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{ hitung_hari(modul.TASK_START, modul.TASK_END) }} Hari</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nilai Kontrak</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{modul.ANGGARAN_NILAI | currency:"Rp.":0}} / Digunakan: {{modul.TERPAKAI | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sisa Anggaran</label>
                                        <div class="col-md-9">
                                            <div class="detail" >{{modul.ANGGARAN_NILAI - modul.TERPAKAI | currency:"Rp.":0}}</div>
                                        </div>
                                    </div>


                                </div>



                            </div>
                            <h3 class="box-title">Peroide</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Mulai</label>
                                        <div class="col-md-9">
                                            <input class="form-control" required datelimit ng-model="task.task_start" startDate="{{modul.MODUL_START | date:'yyyy-MM-dd'}}"  endDate="{{modul.MODUL_END | date:'yyyy-MM-dd'}}" type="text"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Batas Selesai</label>
                                        <div class="col-md-9">
                                            <input class="form-control" required datelimit ng-model="task.task_end" startDate="{{modul.MODUL_START | date:'yyyy-MM-dd'}}"  endDate="{{modul.MODUL_END | date:'yyyy-MM-dd'}}" type="text"> </div>
                                    </div>
                                </div>
                            </div>


                            <hr class="m-t-0 m-b-40">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Prioritas</label>
                                        <div class="col-md-9">
                                            <select required class="form-control"  ng-model="task.prioritas" >
                                                <option value="0"> Tidak </option>
                                                <option value="1"> Ya </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Jumlah Satuan Unit</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="task.task_nilai" required type="number"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Nilai/ Harga Satuan</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="task.task_fee" required type="text" ui-number-mask="0"> </div>
                                    </div>

                                </div>


                                <div class="col-md-6">

                                    <div style="padding: 0 0 0 35px;">

                                            <h2>Resapan: {{task.task_nilai* task.task_fee| currency:"Rp.":0}}</h2> <small>Total Task</small>
                                            <div class="pull-right">{{modul.TOTAL_PROGRESS+0 + task.task_progress}}% <i class="fa fa-level-up text-success"></i></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{modul.TOTAL_PROGRESS+0 + task.task_progress}}%;"> <span class="sr-only">{{modul.TOTAL_PROGRESS+0+ + task.task_progress}}% Complete</span></div>
                                            </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Rencana Progress</label>
                                        <div class="col-md-9">
                                            <input class="form-control" ng-model="task.task_progress" required type="text" ui-number-mask="2" max="{{100 - modul.TOTAL_PROGRESS+0}}">
                                            <p>Max nilai rencana Ptogress {{100-modul.TOTAL_PROGRESS+0}} % (tidak menggunakan %)</p>
                                        </div>
                                    </div>

                                </div>
                                <!--/span-->
                            </div>

                            <h3 class="box-title">Keterangan</h3>
                            <!--/row-->
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea ng-model="task.task_desk" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h3 class="box-title">Catatan</h3>
                            <!--/row-->
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea ng-model="task.task_catatan" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>


                </div>

            </div>

            <div class="panel-footer">
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button ng-click="submitForm()"  ng-disabled="Form.$invalid" type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" back-button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    Melayang();
</script>
