
<div class="right-page-header">
    <div class="pull-right">
       <button type="button" class="btn btn-default waves-effect waves-light  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-refresh"></i> </button>
    </div>
    <h3>
       <!-- <a ui-sref="project_detail.task.add"><i class="ti-pencil"></i></a> -->
       Rincian Kegiatan /
       <a ui-sref="task_detail.rincian.add">
           <button  class="btn btn-info btn-rounded" type="button">Input sub kegiatan</button>
       </a>
    </h3>
</div>
<div class="clearfix"></div>
<div class="scrollable">
    <div class="inbox-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="30">
                            No
                        </th>
                        <th colspan="5">
                             Nama sub kegiatan
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{{x.status_check=='open' ? 'unread':''}}" ng-repeat="x in checks">
                        <td>
                            {{$index+1}}
                        </td>
                        <td class="hidden-xs">{{x.task_check}}</td>
                        <td class="hidden-xs" width="90"><span class="label label-{{x.status_check}} m-r-10">{{x.status_check}}</span></td>
                        <td class="max-texts">{{x.desk_check}}<br>{{x.catatan_check}}</td>
                        <td class="text-right" width="100"> {{x.tgl_check | date:'yyyy-MMMM-dd'}} </td>
                        <td class="text-right" width="30">
                            <a ui-sref="task_detail.rincian.edit({id_check:x.id_task_check})" data-original-title="Update" data-toggle="tooltip" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" type="button"><i aria-hidden="true" class="fa fa-edit"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
</div>

<div ui-view></div>
