
<div class="right-page-header">
   <div class="pull-right">
       <input class="form-control" placeholder="search contacts" id="demo-input-search2" type="text"> </div>
   <h3>
       <!-- <a ui-sref="project_detail.task.add"><i class="ti-pencil"></i></a> -->
       Task /
       <a ui-sref="project_detail.task.add">
           <button  class="btn btn-info btn-rounded" type="button">Add New Task</button>
       </a>
   </h3>
</div>
<div class="clearfix"></div>
<div class="scrollable">
   <div class="table-responsive">
       <table data-page-size="10" class="table m-t-30 table-hover contact-list footable-loaded footable" id="demo-foo-addrow">
           <thead>
               <tr>
                   <th class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Task<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Modul<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Waktu<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Prioritas<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Status<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Progress<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Harga Satuan<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Total<span class="footable-sort-indicator"></span></th>
                   <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="n in [] | range:5" style="display: table-row;" class="footable-even">
                   <td><span class="footable-toggle"></span>{{n+1}}</td>
                   <td>
                       <a href="contact-detail.html"><img class="img-circle" alt="user" src="../plugins/images/users/genu.jpg"> Genelia Deshmukh</a>
                   </td>
                   <td>Modul {{x+1}} </td>
                   <td>2016-10-01</td>
                   <td>-</td>
                   <td><span class="label label-danger">progress</span> </td>
                   <td>5% / 1.08%</td>
                   <td>1 X 24.000.600</td>
                   <td>Rp.24.000.600</td>
                   <td>
                       <button data-original-title="Delete" data-toggle="tooltip" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" type="button"><i aria-hidden="true" class="ti-close"></i></button>
                   </td>
               </tr>

           </tbody>

           <tfoot>
               <tr>
                   <td colspan="2">
                       <button data-target="#add-contact" data-toggle="modal" class="btn btn-info btn-rounded" type="button">Add New Contact</button>
                   </td>

                   <td colspan="">
                       Total Bobot
                   </td>

                   <td colspan="">
                       100%
                   </td>

                   <td colspan="">
                       Total Realisasi
                   </td>

                   <td colspan="">
                       100%
                   </td>

                   <td colspan="2">
                        Jumlah
                   </td>

                   <td colspan="2">
                        14,808,884,413.93
                   </td>
               </tr>
               <tr>
                   <td colspan="6"></td>
                   <td colspan="2">Ppn</td>
                   <td colspan="2">14,808,884</td>
               </tr>
               <tr>
                   <td colspan="6"></td>
                   <td colspan="2">Jumlah Total</td>
                   <td colspan="2">14,808,884,413.93</td>
               </tr>
           </tfoot>
       </table>
   </div>
</div>

<div ui-view></div>
