
<div class="right-page-header">
    <div class="pull-right">
       <button type="button" class="btn btn-default waves-effect waves-light  dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-refresh"></i> </button>
    </div>
    <h3>
       <!-- <a ui-sref="project_detail.task.add"><i class="ti-pencil"></i></a> -->
       Konraktor

    </h3>
</div>
<div class="clearfix"></div>
<div class="scrollable">
    <div class="inbox-center">
        <div class="row m-b-15">
               <div class="col-md-3 col-xs-6 b-r "> <strong>Nama Perusahaan</strong>
                   <br>
                   <p class="text-muted ng-binding">{{perusahaan.K_NAMA_PERUSAHAAN | uppercase }}</p>
                   <!-- <p class="text-muted ng-binding">{{perusahaan.K_DIREKTUR_PERUSAHAAN}}</p> -->
               </div>
               <div class="col-md-3 col-xs-6 b-r"> <strong>Telfon</strong>
                   <br>
                   <p class="text-muted ng-binding">{{perusahaan.K_TELFON_PERUSAHAAN}}</p>
               </div>
               <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                   <br>
                   <p class="text-muted ng-binding">{{perusahaan.K_EMAIL_PERUSAHAAN}}</p>
               </div>
               <div class="col-md-3 col-xs-6"> <strong>Alamat</strong>
                   <br>
                   <p class="text-muted ng-binding">{{perusahaan.K_ALAMAT_PERUSAHAAN}}</p>
               </div>
           </div>
          <hr>

        <div class="row">
            <!-- .col -->
            <div class="col-md-4 col-sm-4">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <a href="contact-detail.html"><img src="images/users/genu.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                            <p> </p><address>
                    795 Folsom Ave, Suite 600 San Francisco, CADGE 94107<br><br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address> <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4 col-sm-4">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <a href="contact-detail.html"><img src="images/users/varun.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                            <p> </p><address>
                    795 Folsom Ave, Suite 600 San Francisco, CADGE 94107<br><br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address> <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4 col-sm-4">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center">
                            <a href="contact-detail.html"><img src="images/users/ritesh.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                            <p> </p><address>
                    795 Folsom Ave, Suite 600 San Francisco, CADGE 94107<br><br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address> <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>

<div ui-view></div>
